.vscode/**
.vscode-test/**
src/**
.claude/**
.sfdx/**
.sf/**
.husky/**
node_modules/**
*.vsix
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
eslint.config.mjs
.prettierrc
.prettierignore
CLAUDE.md
package-lock.json
**/*.map
**/*.ts
out/**
!dist/**
force-cockpit/**
automatedActions/**
scripts/**